//link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

//script(type='text/javascript', src='bower_components/angular/angular.js')
//script(type='text/javascript', src='bower_components/angular-resource/angular-resource.js')
//script(type='text/javascript', src='/app/app.js')

//body(ng-app='app')
//    .container
//        h1 Find a Job Today!
//        div(ng-controller='testCtrl')
//            .list-group
//                a.list-group-item(href='#')(ng-repeat="job in jobs")
//                    h4.list-group-item-heading {{ job.title }}
//                    p.list-group-item-text {{ job.description }}

//.container
    //    h1(id="target")
    //    div(ng-controller='MainCtrl')
    //        form(name="spec",actin="/",method="post")
    //            p Emcee: 
    //                span(ng-bind="emcee")
    //            input(type="text", ng-model="emcee")

script(type='text/javascript', src='bower_components/angular/angular.js')
script(type='text/javascript', src='bower_components/angular-route/angular-route.js')
script(type='text/javascript', src='bower_components/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='app/cookbook.js')
script(type='text/javascript', src='app/controllers/chapter4.SomeCtrl.js')
script(type='text/javascript', src='app/controllers/chapter3.ui.router.js')

script(type='text/javascript', src='app/directives/chapter5.deejay.1.js')

//script(type='text/javascript', src='app/directives.chapter5.writers.js')

//script(type='text/javascript', src='bundle.js')


html(ng-app='cookbook')
    .container
        h1(id="target")
        div(ng-controller='MainCtrl')
            form(name="spec",actin="/",method="post")
                p Emcee: 
                    span(ng-bind="emcee")
                input(type="text", ng-model="emcee")
            h1 {{state}}
            button(class="btn1", ng-click="loadEmcee(1)") Emcee 1
            deejay1 Dee
        h2 This is an Each two
        div(ng-controller='SomeCtrl')
            p(ng-bind='id') This is a sample paragraph
                div Div test
                button(class='btn', ng-click='update()') Update
    
        p A sample view
        div(class="container")
            div(data-ng-view)
                     